<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs');  %>
    <title>Tweeter</title>
</head>
<body>
    <%- include('./partials/nav.ejs');  %>
    <% for (let i = 0; i < tweets.length; i++) { %>
    <div class="columns is-centered">
        <div class="card column is-two-thirds my-card-class">
            <header class="card-header">
                <h1 class="is-size-2 card-header-title"><%= tweets[i].title %></h1>
                <% if(tweets[i].sponsored) { %>
                <p>***This Post Is Sponsored</p>
                <% } %>
            </header>
            <div class="card-content">
                <div class="content">
                    <p class="is-size-4"><%= tweets[i].text %></p><br>
                    <div class="card-image">
                        <img class="tweet-img" src="<%=tweets[i].img%>">
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div class="columns">
                    <div class="column">
                        <a href="#" class="card-footer-item button is-primary is-focused is-one-fifth">Edit</a>
                    </div>
                    <div class="column">
                        <a href="#" class="card-footer-item button is-danger">Delete</a>
                    </div>
                </div>
            </footer>
            </div>
        </div>
    </div>
    <% } %>

</body>
</html>